extends layout

block content
  div(class='wrapper')
    div(class='controls')
      span(class='enter') Input a Number & Press Enter to Search
      br
      input(type='text')
      br
      span(class='error')
    div(class='results')
      div(class='textResults')
        div(class='trivia')
          h5 Trivia about the number #{number}
          p #{trivia}
        br
        div(class='math')
          h5 A mathematical fact about the number #{number}
          p #{math}
        br
        div(class='year')
          h5 Something that happened in the year #{number}
          p #{year}
      div(class='imageResult')
        img(width='300px', height='300px' id='imgRes' src=ref)
        img(width='24px', height='24px' src='../images/votepos.png' class='feedback' id='positive' ref=ref)
        img(width='24px', height='24px' src='../images/voteneg.png' class='feedback' id='negative' ref=ref)