body {
  background-color: #1f1f1f;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: block;
}

.controls {
  width: 100%;
  height: 300px;
  text-align: center;
}

.enter {
  font-family: Verdana;
  font-size: 16px;
  font-weight: bold;
  color: #ff9124;
}

.error {
  font-family: Verdana;
  font-size: 14px;
  color: red;
  padding: 5px;
}

.controls input {
  text-align: center;
  margin-top: 5px;
}

.controls input,
textarea {
  border: none;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  font-size: 80px;
  color: #ff9124;
  text-shadow: 1px 1px 1px #1f1f1f;
  -webkit-text-fill-color: transparent;
}

.results {
  width: 100%;
  text-align: center;
}

#imgRes {
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 0;
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.feedback:hover {
  cursor: pointer;
}

#positive:hover {
  background: url('../images/votepos_hover.png');
}

#negative:hover {
  background: url('../images/voteneg_hover.png');
}

.textResults {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  display: block;
}

.textResults div {
  padding: 15px 100px 15px 100px;
  display: inline-block;
  margin-bottom: 10px;
  min-height: 40px;
  border-radius: 55px;
  border: solid gray 1px;
  vertical-align: middle;
}

.textResults div h5 {
  padding: 5px;
  margin: 0 auto;
  font-family: Verdana;
  font-size: 18px;
  color: #ff9124;
  text-decoration: underline;
}

.textResults div p {
  font-family: Verdana;
  font-size: 16px;
  color: white;
}

.footer {
  font-family: monospace;
  font-size: 14px;
  color: white;
  text-align: center;
}